.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 10rem;
    height: 3rem;
}

.header-menu {
    font-size: larger;
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;

}

.header-menu>li:hover {
    font-family: 'Cairo';

    cursor: pointer;

    color: var(--orange);

}
@media screen and (max-width: 767px) {
    .header>:nth-child(2)
    {
        position: fixed;
        left: 2rem;
        z-index: 99;
    }
    .header-menu{
        flex-direction: column;
        background-color: var(--appColor);
        padding: 2rem;
    }
}